@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* Scrollbar Styles */
.scrollable-content::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: #00021a; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Round the corners of the scrollbar thumb */
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
  background-color: #00021a; /* Color of the scrollbar thumb on hover */
}

.scrollable-content::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 4px; /* Round the corners of the scrollbar track */
}
